<!--футер-->
<footer class="footer not-print">
    <div class="col">
        <img src="./pictures/MainIcon.png" alt="Logo CodeUp">
        <p class="footer-text-big">CodeUp</p>
    </div>
    <div class="col">
        <p class="footer-text-small">CodeUp&copy;2025 - copyright</p>
    </div>
</footer>