<!--футер-->
<footer>
    <div class="col">
        <img src="./pictures/MainIcon.png" alt="Logo CodeUp">
        <p class="pixel-text-middle">CodeUp</p>
    </div>
    <div class="col">
        <p class="pixel-text-small">CodeUp&copy;2025 - copyright</p>
    </div>
</footer>