<!--title-->
<header class="header-container not-print">
    <div class="col">
        <div class="move-page-button">
            <a href="/"><img src="./pictures/MainIcon.png" alt="CodeUp">
            <h1> CodeUp </h1></a>
        </div>  
    </div>
    <div class="col">
        <nav class="desctop">
            <a href="/courses">Courses</a>
            <!--
            <a href="lab1course_details.html">Course Details</a>
            <a href="lab1enrollment.html">Enrollment</a>
            -->
        </nav>
        <button class="mobile">
            <img src="./pictures/more.png" alt="Menu" aria-label="Open menu">
        </button>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search" style="display: none;">
            <button class ="search-btn" aria-label="Find">
                <img src="./pictures/find.png" alt="Find" aria-label="Search">
            </button>
        </div>
        
    </div>
</header>