<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <title>CodeUp</title>
    </head>
    <body style="background-color: #C4F3CA;">
        <!-- хедер-->
        <%- include("partials/header") %>

        <!--зведена інформація про курс -->
        <!--<div class="course_enroll">
            <a href="/html_css">
                <p class="pixel-text-big">> HTML & CSS for beginners</p>
                <div class="col">
                    <p class="pixel-text-middle">Schedule:<br>Duration:<br>Difficulty:<br>Age:</p> 
                </div>
                <div class="col">
                    <p class="pixel-text-small">flexible<br>4 weeks<br>easy<br>14+</p>
                </div>
            </a>
        </div>-->

    <section class="margin_left">
        <div class="row-enrol">
            <section class="left-col-gen">
            
                <a href="/html_css" class="course_enroll">
                    <p class="pixel-text-big-white">> HTML & CSS for beginners</p>
                    <div class="row-enrol">
                            <div class="left-col">
                                <p class="pixel-text-middle-white">
                                    Schedule:<br>Duration:<br>Difficulty:<br>Age:
                                </p>
                            </div>
                            <div class="right-col">
                                <p class="pixel-text-middle-white">
                                    flexible<br>4 weeks<br>easy<br>14+
                                </p>
                            </div>
                    </div> 
                </a>
        
                    <!--отримання інформації про спосіб оплати-->
                    <p class="pixel-text-small">Choose payment method:</p>
                    <div class="col">
                        <button class="circle-button" aria-label="Click to choose">
                            <img src="./pictures/choose circle.png" alt="Click to choose">
                        </button>
                        <p class="pixel-text-small">every week: 50 $</p>
                    </div>
        
                    <div class="col">
                        <button class="circle-button" aria-label="Click to choose">
                            <img src="./pictures/choose circle.png" alt="Click to choose">
                        </button>
                        <p class="pixel-text-small">full: 200 $</p>
                    </div>
        
                    <button class="enroll-btn">
                        <p class="pixel-text-middle-white">Enroll</p>
                    </button>
                
                
                </section>
        
                <section class="right-col-pic">
                    <picture>
                        <source media="(min-width: 1024px)" srcset="/pictures/Group_12.png" type="image/png">
                        <source media="(min-width: 640px)" srcset="/pictures/Group_13.png" type="image/png">
                        <img src="/pictures/Group_13.png" alt="What are you waiting for?">
                    </picture>
                </section>
        </div>
        
    </section>
        
    <!--футер-->
    <%- include("partials/footer") %>
    </body>
</html>