<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <title>CodeUp</title>
    </head>
    <body style="background-color: #C4F3CA;">

        <!-- хедер-->
        <%- include("partials/header") %>

        <!--банер-->
        <section class="row">
            <div class="col">
                <p class="slogan"> 
                    <span> &gt;Code </span><span>smarter</span><span>not</span><span>harder</span></p>
            </div>
            <div class="col">
                <picture>
                    <source media="(min-width: 1024px)" srcset="/pictures/super_proffesionals.png" type="image/png">
                    <source media="(min-width: 640px)" srcset="/pictures/small_professionals.png" type="image/png">
                    <img src="/pictures/super_proffesionals.png" width="500" height="500" alt="Super Professionals">
                </picture>  
            </div>
        </section>
        
        <!--school statistics-->
        <section class="show-statistics">

            <div class="statistics-element">
                <div class="statistics-top">
                    <picture>
                        <source media="(min-width: 1024px)" srcset="/pictures/book.png" type="image/png">
                        <source media="(min-width: 640px)" srcset="/pictures/small_book.png" type="image/png">
                        <img src="/pictures/small_book.png" width="50" height="50" alt="courses">
                    </picture>
                    <p class="pixel-text-big">50</p>
                </div>
                <div class="statistics-bottom">
                    <p class="pixel-text-big">Courses</p>
                </div>
            </div>

            <div class="statistics-element">
                <div class="statistics-top">
                    <picture>
                        <source media="(min-width: 1024px)" srcset="/pictures/teacher.png" type="image/png">
                        <source media="(min-width: 640px)" srcset="/pictures/small_teacher.png" type="image/png">
                        <img src="/pictures/small_teacher.png" width="50" height="50" alt="teachers">
                    </picture>
                    <p class="pixel-text-big">20</p>
                </div>
                <div class="statistics-bottom">
                    <p class="pixel-text-big">Teachers</p>
                </div>
                
            </div>

            <div class="statistics-element">
                <div class="statistics-top">
                    <picture>
                        <source media="(min-width: 1024px)" srcset="/pictures/students.png" type="image/png">
                        <source media="(min-width: 640px)" srcset="/pictures/small_students.png" type="image/png">
                        <img src="/pictures/small_students.png" width="50" height="50" alt="students">
                    </picture>
                    <p class="pixel-text-big">2K</p>
                </div>
                <div class="statistics-bottom">
                    <p class="pixel-text-big">Students</p>
                </div>
                
            </div>

            <div class="statistics-element">
                <div class="statistics-top">
                    <picture>
                        <source media="(min-width: 1024px)" srcset="/pictures/star.png" type="image/png">
                        <source media="(min-width: 640px)" srcset="/pictures/small_star.png" type="image/png">
                        <img src="/pictures/small_star.png" width="50" height="50" alt="stars">
                    </picture>
                    <p class="pixel-text-big">5</p>
                </div>
                <div class="statistics-bottom">
                    <p class="pixel-text-big">Rating</p>
                </div>
                
            </div>
        </section>
        
        <!--main advantages-->
        <section class="main-advantages">
            <ul class="custom-list">
                <li>Internationally recognized certificates – credentials valued worldwide</li>
                <li>Hands-on projects – real practice through practical cases</li>
                <li>Instructor support – guidance and feedback at every stage</li>
                <li>Flexible learning schedule – study at your own pace</li>
            </ul>
        </section>

        <!--categories-->
        <section class="carousel">
            <h2 class="pixel-text-big">Our top сourses</h2>
            <a href="/courses" class="pixel-text-middle">Click to see more</a>

            <div class="row">
                <button class="left-right-bbutton" aria-label="Move to left">
                    <img src="./pictures/left.png" alt="More">
                </button>

                <div>
                    <a class="carousel-item">
                        <img src="./pictures/GameDevIcon.png" alt="GameDev Icon">
                        <p class="pixel-text-middle">GameDev</p>
                    </a>
                </div>
                
                <div>
                    <a class="carousel-item">
                        <img src="./pictures/MLIcon.png" alt="Machine Learning Icon">
                        <p class="pixel-text-middle">Machine Learning</p>
                    </a>
                </div>


                <div>
                    <a class="carousel-item">
                        <img src="./pictures/tag.png" alt="HTML & CSS Icon">
                        <p class="pixel-text-middle">HTML & CSS</p>
                    </a>
                </div>

                <div>
                    <a class="carousel-item">
                        <img src="./pictures/ComputerScienseIcon.png" alt="GameDevIcon">
                        <p class="pixel-text-middle">Computer Sciense</p>
                    </a>
                </div>

                <button class="left-right-bbutton" aria-label="Move to right">
                    <img src="./pictures/right.png" alt="More">
                </button>
                
            </div>
        </section>
        

        <section class="carousel">
            <h2 class="pixel-text-big">Our top сourses</h2>
            <a href="/courses" class="pixel-text-middle">Click to see more</a>

            <div class="row">
                <button class="left-right-bbutton" aria-label="Move to left">
                    <img src="./pictures/left.png" alt="More">
                </button>

                <a href="/unity_what" class="carousel-item">
                    <p class="pixel-text-middle">Unity what?</p>
                    <p class="pixel-text-small">>6 weeks</p>
                    <p class="pixel-text-small">easy</p>
                    <img src="./pictures/easyLevel.png" alt="level">
                </a>

                <a href="/computer_vision" class="carousel-item">
                    <p class="pixel-text-middle">Computer Vision</p>
                    <p class="pixel-text-small">>4 weeks</p>
                    <p class="pixel-text-small">hard</p>
                    <img src="./pictures/hardLevel.png" alt="level">
                </button>

                <a href="/html_css" class="carousel-item">
                    <p class="pixel-text-middle">HTML & CSS for noobs</p>
                    <p class="pixel-text-small">>4 weeks</p>
                    <p class="pixel-text-small">easy</p>
                    <img src="./pictures/easyLevel.png" alt="level">
                </a>

                <a href="/computer_inside" class="carousel-item">
                    <p class="pixel-text-middle">What's inside your computer?</p>
                    <p class="pixel-text-small">>4 weeks</p>
                    <p class="pixel-text-small">medium</p>
                    <img src="./pictures/mediumLevel.png" alt="level">
                </a>

                <button class="left-right-bbutton" aria-label="Move to right">
                    <img src="./pictures/right.png" alt="More">
                </button>         
            </div>
        </section>
        
        <!--feedbacks-->
        <section>
            <h2>Feedbacks</h2>
            <div>
                <!-- 
                <button class="left-right-bbutton" aria-label="Move to left">
                    <img src="./pictures/left.png" alt="More">
                </button>
                -->
    
                <div class="col">
                    <div>
                        <picture>
                            <source media="(min-width: 1024px)" srcset="/pictures/personIcon.png" type="image/png">
                            <source media="(min-width: 640px)" srcset="/pictures/small_person.png" type="image/png">
                            <img src="/pictures/small_person.png" width="100" height="100" alt="avatar">
                        </picture>
                        <p>CodeWizard42</p>
                        <div>
                            <img src="./pictures/small_star.png" alt="star">
                            <img src="./pictures/small_star.png" alt="star">
                            <img src="./pictures/small_star.png" alt="star">
                            <img src="./pictures/small_star.png" alt="star">
                            <img src="./pictures/small_star.png" alt="star">
                        </div>
                    </div>
                    <p class="main-text">I've tried a lot of online IT courses, but this site is a game-changer. The lessons are short, clear, and packed with real-life examples. I landed my first junior developer job thanks to their Python track. Highly recommend!</p>
                </div>

                <div class="col">
                    <div>
                        <picture>
                            <source media="(min-width: 1024px)" srcset="/pictures/personIcon.png" type="image/png">
                            <source media="(min-width: 640px)" srcset="/pictures/small_person.png" type="image/png">
                            <img src="/pictures/small_person.png" width="100" height="100" alt="avatar">
                        </picture>
                        <p>DebuggingDuck</p>
                        <div>
                            <img src="/pictures/small_star.png" alt="star">
                            <img src="/pictures/small_star.png" alt="star">
                            <img src="/pictures/small_star.png" alt="star">
                            <img src="/pictures/small_star.png" alt="star">
                            <img src="/pictures/small_star.png" alt="star">
                        </div>
                    </div>
                    <p class="main-text">Honestly, I was skeptical at first, but the interactive exercises here are addictive! The quizzes actually make you think, and the mentors answer questions super fast. 10/10, will keep learning!</p>
                </div>
    
                <!-- 
                <button class="left-right-bbutton" aria-label="Move to right">
                    <img src="./pictures/right.png" alt="More">
                </button>
                -->
            </div>
        </section>

        <!--футер-->
        <%- include("partials/footer") %>
    </body>
</html>