<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>CodeUp</title>
</head>
<script src="/js/main.js" type="module"></script>
<body style="background-color: #C4F3CA;">
    <!-- хедер-->
    <%- include("partials/header") %>
    <div class="call_to_action">
        <p class="pixel-text-big">Choose your course!</p>
    </div>
    
        

        <!--filter-->
        <div class="courses-plates">
            <button class="filter-button" aria-label="See options">
                
                    <p class="pixel-text-small-white">category</p>
                    <img src="./pictures/down.png" alt="options">
               
                
            </button>

            <button class="filter-button" aria-label="See options">
                
                    <p class="pixel-text-small-white">difficulty</p>
                    <img src="./pictures/down.png" alt="options">
                
                
            </button>

            <button class="filter-button" aria-label="See options">
                
                    <p class="pixel-text-small-white">price</p>
                    <img src="./pictures/down.png" alt="options">
                
                
            </button>

        </div>

        <!--courses-->

            <div class="courses-plates">
                <% courses.forEach(course => { %>
                    <%- include('partials/courseBigCard', {
                        link: course.link,
                        title: course.title,
                        logo_path: course.logo_path,
                        category: course.category,
                        age: course.age,
                        weeks_number: course.weeks_number,
                        level: course.level,
                        level_path: course.level_path
                    }) %>
                <% }); %>
                <% if (courses.length === 0) { %>
                    <p class="pixel-text-middle">No courses found</p>
                <% } %>
        </div>

        <p class="pixel-text-middle c">More courses will be available soon</p>

        <!--футер-->
        <%- include("partials/footer") %>
</body>

</html>