<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>CodeUp</title>
</head>
<script src="/js/main.js" type="module"></script>
<body style="background-color: #C4F3CA;">
    <!-- хедер-->
    <%- include("partials/header") %>
    <div class="call_to_action">
        <p class="pixel-text-big">Choose your course!</p>
    </div>
    
        

        <!--filter-->
        <div class="courses-plates">

            <details class="module" aria-label="See options">
                
                    <summary class="module__title">category</summary>
                    <ul class="custom-list">
                        <div class="main-text filter-option" data-filter = "Game Development">Game Development</div>
                        <div class="main-text filter-option" data-filter = "Machine Learning">Machine Learning</div>
                        <div class="main-text filter-option" data-filter = "HTML&CSS">HTML&CSS</div>
                        <div class="main-text filter-option" data-filter = "Cybersecurity Basics">Cybersecurity Basics</div>
                        <div class="main-text filter-option" data-filter = "Digital Art">Digital Art</div>
                        <div class="main-text filter-option" data-filter = "Computer sciense">Computer sciense</div>
                    </ul>
               
                
            </details>

            <details class="module" aria-label="See options">
                
                <summary class="module__title">difficulty</summary>
                <ul class="custom-list">
                    <div class="main-text filter-option" data-filter = "easy">easy</div>
                    <div class="main-text filter-option" data-filter = "middle">middle</div>
                    <div class="main-text filter-option" data-filter = "hard">hard</div>
                </ul>
           
            </details>

            <details class="module" aria-label="See options">
                
                <summary class="module__title">duration</summary>
                <ul class="custom-list">
                    <div class="main-text filter-option" data-filter = "4 weeks">4 weeks</div>
                    <div class="main-text filter-option" data-filter = "6 weeks">6 weeks</div>
                    <div class="main-text filter-option" data-filter = "8 weeks">8 weeks</div>
                </ul>
           
            </details>

        </div>

        <!--courses-->

            <div class="courses-plates">
                <% courses.forEach(course => { %>
                    <%- include('partials/courseBigCard', {
                        link: course.link,
                        title: course.title,
                        logo_path: course.logo_path,
                        category: course.category,
                        age: course.age,
                        weeks_number: course.weeks_number,
                        level: course.level,
                        level_path: course.level_path
                    }) %>
                <% }); %>
                <% if (courses.length === 0) { %>
                    <p class="pixel-text-middle">No courses found</p>
                <% } %>
        </div>

        <p class="pixel-text-middle c">More courses will be available soon</p>

        <!--футер-->
        <%- include("partials/footer") %>
</body>

</html>