@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*@mixin grid($cols: 3, $gap: 20px) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: $gap;
    align-items: stretch;
  }*/
/*.courses-plates {
    @include grid(3, 40px);
    width: 100%;
}*/
.row {
  display: flex;
  align-items: flex-start;
  gap: 10%;
}

.col {
  display: flex;
  flex-wrap: wrap;
}

.header-container .col {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 5px;
  align-items: baseline;
  flex-wrap: wrap;
  position: fixed;
  margin-right: 15px;
  width: 100%;
  background-color: #539844;
}
.header-container h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
}
.header-container img {
  width: 25px;
  height: 25px;
}
.header-container button {
  background-color: #539844;
  border: none;
  cursor: pointer;
}
.header-container a {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin-left: 15px;
}

.move-page-button a {
  display: flex;
  align-items: baseline;
  gap: 10px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
}
.move-page-button a img {
  width: 30px;
  height: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #003300;
  margin: 0;
  padding: 0;
}

.footer-text-big {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
}

.footer-text-small {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
}

.c {
  text-align: center;
  align-items: center;
}

.j {
  text-align: justify;
}

.pixel-text-small {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  color: #003300;
  font-weight: 400;
  font-style: normal;
}

.main-text {
  font-family: "Quantico", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 20px !important;
  color: #003300 !important;
}

.main-text-white {
  font-family: "Quantico", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 20px !important;
  color: #FFFFFF !important;
}

.pixel-text-middle {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: #003300;
  font-weight: 400;
  font-style: normal;
}

.pixel-text-middle-white {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
}

.pixel-text-small-white {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
}

.pixel-text-big {
  font-family: "Press Start 2P", cursive;
  font-size: 32px;
  color: #003300;
  font-weight: 400;
  font-style: normal;
}

.slogan {
  padding-left: 20%;
  font-family: "Press Start 2P", cursive;
  font-size: 64px;
  color: #003300;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  display: inline-block;
}

.slogan span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.slogan span:nth-child(1) {
  animation: typing 1.2s steps(5, end) 0s forwards;
}

.slogan span:nth-child(2) {
  animation: typing 1.2s steps(7, end) 1s forwards;
}

.slogan span:nth-child(3) {
  animation: typing 1.2s steps(3, end) 2s forwards;
}

.slogan span:nth-child(4) {
  animation: typing 1.2s steps(6, end) 3s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
section.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: clamp(20px, 8vw, 160px);
}

section.row picture {
  margin-left: auto;
  margin-top: 40px;
}

.statistics-element {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #C4F3CA;
  gap: 5px;
  border: 4px solid #003300;
  border-radius: 15px;
  padding: 14px 18px;
}

.statistics-element p {
  margin: 0;
}

.statistics-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  height: 56px;
}

.statistics-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;
}

.statistics-bottom p {
  line-height: 1;
  margin: 0;
  text-align: center;
  width: 100%;
}

.statistics-element img {
  height: auto;
  max-width: 100px;
}

.show-statistics {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  background-color: #539844;
  padding-inline: clamp(10px, 5vw, 80px);
  padding-block: 30px;
}

.main-advantages {
  display: flex;
  font-family: "Quantico", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 32px !important;
  color: #003300 !important;
}

ul.custom-list li {
  list-style: none;
  padding-left: 30px;
  background: url("../pictures/choose circle.png") no-repeat left center;
  background-size: 20px;
}

.left-right-bbutton {
  display: flex;
}

.carousel {
  justify-items: space-between;
}

.carousel-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #539844;
  border: 4px solid #003300;
  border-radius: 12px;
  padding: 20px;
  text-decoration: none;
  color: #FFFFFF;
  width: 150px;
  height: 75px;
}

.margin_left {
  margin-left: 50px;
  margin-bottom: 50px;
}

.course_enroll {
  background-color: #539844;
  border: 4px solid #003300;
  padding: 30px;
  border-radius: 6px;
  margin-top: 100px;
  display: block;
  width: fit-content;
  color: inherit;
  text-decoration: none;
}

.enroll-btn {
  width: 300px;
  padding: 14px 0;
  background: #539844;
  border: 4px solid #003300;
  border-radius: 6px;
  text-align: center;
  margin-top: 20px;
}

.circle-button {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.circle-button img {
  width: 24px;
  height: 24px;
}

.row-enrol {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.col {
  display: flex;
  align-items: center;
}

.left-col {
  display: block;
}

.left-col-gen {
  display: block;
}

.right-col {
  display: block;
  text-align: right;
}

.right-col-pic {
  justify-content: center;
  align-items: center;
  height: 300px;
}
.right-col-pic picture img {
  width: 300px;
  height: auto;
}

body {
  padding-top: 50px;
  margin: 0;
  padding: 0;
}

@media print {
  body {
    background: #FFFFFF;
  }
  h1, h2, h3, p {
    font-family: "Quantico", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 20px !important;
    color: black !important;
  }
  img {
    display: none;
  }
  button img {
    display: inline-block;
  }
  .not-print {
    display: none;
  }
}
.call_to_action {
  padding-top: 50px;
  text-align: center;
}

.filters {
  display: flex;
}

.filter-button {
  background: #539844;
  border: 4px solid #003300;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.big-course-block {
  background: #539844;
  border: 4px solid #003300;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.big-course-block a {
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
}

.courses-plates {
  display: flex;
}

.course-page-discriptions {
  text-align: left;
  padding-left: 10%;
}

.start {
  padding-top: 50px;
}

.course-details {
  width: 90%;
  margin: 0 auto;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
}
@media (max-width: 900px) {
  .course-details {
    grid-template-columns: 1fr;
  }
}

.col {
  display: flex;
  align-items: center;
}

.enroll_button a {
  text-decoration: none;
  color: #FFFFFF;
}
.enroll_button {
  text-decoration: none;
  display: block;
  width: 90%;
  padding: 25px 0;
  background: #539844;
  border: 4px solid #003300;
  border-radius: 6px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.course-details-mentor {
  margin-top: 50px;
  padding: 15px 15px;
  background: #539844;
  border: 4px solid #003300;
  border-radius: 6px;
}

.module {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: block;
  border: 4px solid #003300;
  border-radius: 12px;
  overflow: hidden;
  background: #C4F3CA;
}

.module:not([open]) .custom-list {
  display: none;
}

.module[open] .module-title {
  border-bottom: 3px solid #0e3209;
}

.module-title::after {
  content: "▾";
  font-size: 45px;
  color: #fff;
  transition: transform 0.2s;
}

.module[open] .module-title::after {
  transform: rotate(180deg);
}

.module-title {
  list-style: none;
  padding: 25px 20px;
  background: #539844;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
}

/*
@use "components/index";
@use "themes/index";
@use "vendors/index";*/

/*# sourceMappingURL=main.css.map */
