@mixin header-font($size: 24px, $color: $color-accent, $weight: 400) {
    font-family: 'Press Start 2P', cursive;
    font-size: $size;
    color: $color;
    font-weight: $weight;
    font-style: normal;
}