@mixin header-font($size: 24px, $color: $color-accent, $weight: 400) {
    font-family: 'Press Start 2P', cursive;
    font-size: $size;
    color: $color;
    font-weight: $weight;
    font-style: normal;
}

@mixin main-text-font($size: 32px, $color: $color-accent, $weight: 400){
    font-family: "Quantico", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: $size !important;
    color: $color !important;
}

/*@mixin grid($cols: 3, $gap: 20px) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: $gap;
    align-items: stretch;
  }*/

/*.courses-plates {
    @include grid(3, 40px);
    width: 100%;
}*/