.p-20{
    padding: 20px;
}

.plr-45{
    padding-left: 40px;
    padding-right: 40px;
}

.plr-20{
    padding-left: 20px;
    padding-right: 20px;
}

.p-10{
    padding: 10px;
}

.a-i{
    align-items: center;
}

.jc-sb{
    justify-content: space-between;
}

.start{
    padding-top: 50px;
}