@use "../abstracts/index" as *;

.feedback{
    margin: 40px auto;
    padding: 10px 0;
    background: $color-secondary;

    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px;
        padding: 0 20px 20px 20px;
    }

    &__card{
        background: $color-primary;
        border: 4px solid $color-accent;
        border-radius: 20px;
        padding: 15px;
        display: grid;
        grid-template-rows: auto 1fr;
    }

    &__header {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 20px;
        align-items: center;

        picture img {
            transform: scale(0.75);
            transform-origin: center right;
        }
    }

    &__info p {
        margin: 0 0 10px 0;
   }

   &__stars img {
        width: 20px;
        height: 20px;
    }
}