@use "../abstracts/index" as *;
@use "../abstracts/mixins" as *;

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-wrap: wrap;
}
.header-container {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 18px 40px;
    position: fixed;
    
    width: 100%;
    background-color: $color-secondary;
    h1{
        @include header-font(24px, $color-white, 400);
    }
    button{
        background-color: $color-secondary;
        border: none;
        cursor: pointer;
    }
    .move-page-button a{
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: $color-white;
        @include header-font(16px, $color-white, 400);
    }
}