@use "../abstracts/index" as *;

.row {
    @include flex(unset, flex-start);
    gap: 10%;
}

.header-container .col{
    @include flex(unset, center);
}

.header-container {
    @include flex(space-between, baseline, unset, wrap);
    display: flex;
    padding: 5px;
    position: fixed;
    margin-right: 15px;
    width: 100%;
    background-color: $color-secondary;

    h1{
        @include header-font(20px, $color-white, 400);
    }

    img{
        width: 25px;
        height: 25px;
    }

    button{
        background-color: $color-secondary;
        border: none;
        cursor: pointer;
        
    }

    a{
        @include header-font(20px, $color-white, 400);
        text-decoration: none;
        margin-left: 15px;
    }

}

.search-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input{
    padding: 12px;
    //border: 2px solid $color-white;
    border-radius: 8px;
    height: 12px;
    display: none;
    background-color: $color-accent;
}