@use "../abstracts/index" as *;
@use "../abstracts/mixins" as *;
@use "../base/text_styles" as *;

.call_to_action{
    padding-top: 50px;
    text-align: center;
}

.filters{
    display: flex;

}
.filter-button{
    background: $color-secondary;
    border: 4px solid $color-accent;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    
}

.big-course-block{
    background: $color-secondary;
    border: 4px solid $color-accent;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;

    height: 100%;

    display: flex; 
    flex-direction: column;

    a{
        text-decoration: none;
        @include header-font(20px, $color-white, 400);
    }
    
}

.courses-plates {
    display: flex;
}

.course-page-discriptions
{
    text-align: left;
    padding-left: 10%
}

