@use "../abstracts/index" as *;
@use "../components/index" as *;
@use "../base/index" as *;

.course-details{
    width: 90%;
    margin: 0 auto;
    padding: 60px 20px 0px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;

    @include respond-to(tablet){grid-template-columns: 1fr;}
    @include respond-to(mobile){grid-template-columns: 1fr;}

    &__dets{
        line-height: 1.5;
    }

    &__mentor{
        margin-top: 50px;
        padding: 15px 15px;
        @include button_style();
    }

    @include respond-to(desktop){
        &__coln {
            @include flex(flex-start);
            gap: 20px; 
        }
    };
}

.module{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    border: 4px solid $color-accent;
    border-radius: 12px;
    overflow: hidden;
    background: $color-primary;

    &__title{
        list-style: none;
        padding: 25px 20px;
        background: $color-secondary;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;
        @include header-font(20px, $color-white, 400);

        &::after {
            content: url("../pictures/down.png");
            font-size: 45px;
            color: $color-white;
            transition: transform 0.2s;
        }
    }

    &[open] &__title {
        border-bottom: 3px solid $color-accent;

        &__::after {
            transform: rotate(180deg);
        }
    }
}




