@use "../abstracts/index" as *;
@use "../components/index" as *;
@use "../base/index" as *;

.call_to_action{
    padding-top: 50px;
    text-align: center;
}

.courses-plates {
    align-items: flex-start;
    display: grid;
    padding: 0 40px 40px 40px;
    @include respond-to(mobile) { 
        grid-template-columns: 1fr; 
        gap: 10px; 
    }
    @include respond-to(tablet) { 
        grid-template-columns: 1fr; 
        gap: 15px; 
    }
    @include respond-to(desktop) { 
        grid-template-columns: repeat(3, 1fr); 
        gap: 50px; 
    }
}

.filter-option {
    cursor: pointer;
    padding: 5px 10px;
    margin: 2px 0;
    
    &.selected {
        background-color: #539844;
        //border: 3px solid #003300;
        border-radius: 6px;
        margin: 0 30px;
        font-weight: bold;
    }
}
