@use "../abstracts/index" as *;
@use "../base/index" as *;
@use "../components/index" as *;


.margin_left{
    margin-left: 50px;
}

.row{
    @include flex(space-between, stretch);
    width: 100%;
    gap: 10px;
    
    @include respond-to(mobile) {
        flex-direction: column; 
        align-items:center; 
        padding-right: 20px;
    }
    @include respond-to(tablet) {
        flex-direction: column; 
        align-items:center; 
        padding-right: 20px;
    }
}

.course_enroll {
    @include button_style();
    padding: 30px;
    margin-top: 100px;
    display: block; 
    width: fit-content;     
    text-decoration: none;

    &__row{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        gap: 10px;
    }

    &__left-col{
        display: block;
        line-height: 1.75;
        align-items: center;
    }

    &__right-col {
        display: block;
        text-align: right;
        line-height: 1.75;
        align-items: center;
    }
    
}

.col {
    @include flex(unset, center);
}


.left-col-gen{
    display: block;
}


.right-col-pic { 
    @include flex(flex-start, flex-end);
    padding-left: 0;
    margin-right: 20px; 
}

.enroll-form {
    margin-top: 20px;
    line-height: 1.5;
  }
  .enroll-form input {
    padding: 12px;
    border-radius: 8px;
    height: 12px;
    background-color: #003300;
  }
  