@use "../abstracts/index" as *;
@use "../abstracts/mixins" as *;
@use "../base/text_styles" as *;


.margin_left{
    margin-left: 50px;
    //margin-bottom: 50px;
}

.course_enroll {
    background-color: $color-secondary;
    border: 4px solid $color-accent;
    padding: 30px;
    border-radius: 6px;
    margin-top: 100px;

    display: block; 
    width: fit-content;     
    color: inherit;
    text-decoration: none;
}

.enroll-btn {
    width: 100%;
    //padding: 14px 0;
    margin-bottom: 20px;
    background: $color-secondary;
    border: 4px solid $color-accent;
    border-radius: 6px;
    text-align: center;
    //justify-content: center;
    height: 75px;
    margin-top: 20px;
}

.circle-button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.circle-button img {
    width: 24px;
    height: 24px;
}

.row-enrol {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 10px;
}

.col {
    display: flex;
    align-items: center;
}

.left-col{
    display: block;
    line-height: 1.75;
    align-items: center;
}
.left-col-gen{
    display: block;
}

.right-col {
    display: block;
    text-align: right;
    line-height: 1.75;
    align-items: center;
}

.right-col-pic { 
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    align-items: flex-end;
    //height: 100%;  
    margin-right: 20px; 
    
    /*picture img{
        width: 300px;
        height: auto;
    }*/
}

body {
    padding-top: 50px;
    margin: 0;
    padding: 0;
}

@media print{
    body{
        background: $color-white;
    }

    h1, h2, h3, p{
       @include main-text-font(20px, black, 400);
    }

    img{
        display: none;
    }

    button img {
        display: inline-block;
    }

    .not-print{
        display:none;
    }
}
