@use "../abstracts/index" as *;
@use "../abstracts/mixins" as *;


.margin_left{
    margin-left: 50px;
    margin-bottom: 50px;
}

.course_enroll {
    background-color: #4F8B4F;
    border: 4px solid #1C401C;
    padding: 30px;
    border-radius: 6px;
    margin-top: 100px;

    display: block; 
    width: fit-content;     
    color: inherit;
    text-decoration: none;
}

.enroll-btn {
    width: 300px;
    padding: 14px 0;
    background: $color-primary;
    border: 4px solid $color-accent;
    border-radius: 6px;
    text-align: center;
    
    margin-top: 20px;
}

.circle-button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.circle-button img {
    width: 24px;
    height: 24px;
}

.row-enrol {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.col {
    display: flex;
    align-items: center;
}

.left-col{
    display: block;
}
.left-col-gen{
    display: block;
}

.right-col {
    display: block;
    text-align: right;
}

.right-col-pic { 
    justify-content: center;
    align-items: center;
    height: 300px;   
    
    picture img{
        width: 300px;
        height: auto;
    }
}

body {
    padding-top: 50px;
    margin: 0;
    padding: 0;
}
