@use "../abstracts/index" as *;
@use "../abstracts/mixins" as *;
@use "../base/text_styles" as *;


.slogan {
    padding-left: 20%;
    @include header-font(64px, $color-accent, 400);;
    line-height: 1.2;
    display: inline-block;
  }
  
.slogan span{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;

    animation-iteration-count: infinite;
    animation-duration: 5s;
}
  

.slogan span:nth-child(1){
    animation: typing 1.2s steps(5, end) 0s forwards;
}

.slogan span:nth-child(2){
    animation: typing 1.2s steps(7, end) 1s forwards;
}

.slogan span:nth-child(3){
    animation: typing 1.2s steps(3, end) 2s forwards;
}

.slogan span:nth-child(4){
    animation: typing 1.2s steps(6, end) 3s forwards;
}  

  
@keyframes typing {
    from { width: 0; }
    to   { width: 100%; }
}



section.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: clamp(20px, 8vw, 160px);
}


section.row picture {
    margin-left: auto;
    margin-top: 40px;
}


.statistics-element{

    flex: 1;  
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary;
    gap: 5px;
    border: 4px solid $color-accent;
    border-radius: 15px;
    padding: 14px 18px;
}

.statistics-element p {
    margin: 0;
}

.statistics-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    height: 56px; 
}

.statistics-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 100%;
}

.statistics-bottom p {
    line-height: 1;  
    margin: 0;
    text-align: center;
    width: 100%;
}

.statistics-element img {
    height: auto;
    max-width: 100px;
}

.show-statistics{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    background-color: $color-secondary;
    padding-inline: clamp(10px, 5vw, 80px);
    padding-block: 30px;
}


.main-advantages{
    display: flex;
    @include main-text-font(32px, $color-accent, 400);
}

ul.custom-list li{
    list-style: none;
    padding-left: 30px;
    background: url("../pictures/choose circle.png") no-repeat left center;
    background-size: 20px;
}



.left-right-bbutton{
    display: flex;
}

.carousel{
    justify-items: space-between;
}

.carousel-item{
    display: flex;
    align-items: center;
    gap: 10px;

    background: $color-secondary;
    border: 4px solid $color-accent;
    border-radius: 12px;

    padding: 20px;
    text-decoration: none;
    color: $color-white;
    
    width: 150px;
    height: 75px;
}

