@use "../abstracts/index" as *;
@use "../base/index" as *;
@use "../components/index" as *;


.banner{
    @include flex(left, center);
    padding-inline: clamp(20px, 8vw, 160px);

    &__text{
        padding-left: 0%;
    }

    &__slogan{
        @include header-font(64px, $color-accent, 400);;
            line-height: 1.2;
            display: inline-block;

        span{
            display: block;
            overflow: hidden;
            white-space: nowrap;
            width: 0;
        
            animation-iteration-count: infinite;
            animation-duration: 5s;
        }
    }

    &__slogan span:nth-child(1){
        animation: typing 1.2s steps(5, end) 0s forwards;
    }
    
    &__slogan span:nth-child(2){
        animation: typing 1.2s steps(7, end) 1s forwards;
    }
    
    &__slogan span:nth-child(3){
        animation: typing 1.2s steps(3, end) 2s forwards;
    }
    
    &__slogan span:nth-child(4){
        animation: typing 1.2s steps(6, end) 3s forwards;
    }

    @keyframes typing {
        from { width: 0; }
        to   { width: 100%; }
    }

    &__image {
        margin-left: auto;
        margin-top: 40px;
    }

    @include respond-to(mobile) {
        @include flex(unset, center, column);
        padding-inline: 20px;

        &__text{
            padding-top: 40px;
            padding-left: 0; 
            text-align: center;
        }

        &__slogan{
            @include header-font(48px, $color-accent, 400);
        }

        &__image {
            margin: 20px auto 0;
        }

        &__slogan span {
            width: 100%;
        }
    }

    @include respond-to(tablet) {
        @include flex(unset, center, column);
        padding-inline: 20px;

        &__text{
            padding-top: 40px;
            padding-left: 0; 
            text-align: center;
        }

        &__slogan{
            @include header-font(48px, $color-accent, 400);
        }

        &__image {
            margin: 20px auto 0;
        }

        &__slogan span {
            width: 100%;
        }
    }
}

.statistics{
    margin-top: 0;
    background-color: $color-secondary;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
    &__element{
        flex: 1;  
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-primary;
        border: 4px solid $color-accent;
        border-radius: 15px;
        padding: 14px 18px;

        p {
            margin: 0;
        }

        img {
            height: auto;
            max-width: 100px;
        }

        @include respond-to(mobile) { flex-direction: column; gap: 10px; }
    }

    &__top{
        @include flex(center, center);
        gap: 6px;
        width: 100%;
        height: 56px; 
    }

    &__bottom{
        @include flex(center, center);
        height: 56px;
        width: 100%;

        p {
            line-height: 1;  
            margin: 0;
            text-align: center;
            width: 100%;
        }
    }
}

.main-advantages{
    margin: auto;
    display: flex;
    @include main-text-font(32px, $color-accent, 400);
}

.carousel-row{
    @include flex(unset, center);
    gap: 10px;
    overflow: hidden;
}

.carousel{
    display: grid;
    gap: 20px;

    @include respond-to(mobile) {
         grid-template-columns: 1fr; gap: 10px; 
    }
    @include respond-to(tablet) { 
        grid-template-columns: repeat(2, 1fr); gap: 15px; 
    }
    @include respond-to(desktop) { 
        grid-template-columns: repeat(4, 1fr); 
    }
}

.carousel-category-item{
    @include flex(unset, center);
    gap: 5px;
    @include button_style();
    padding: 20px;
    text-decoration: none;
    color: $color-white;
    min-height: 100px;
}

.carousel-course-item{
    @include flex(space-between, unset, column);
    @include button_style();
    padding: 20px 20px 0 20px;
    text-decoration: none;
    color: $color-white;
    min-height: 100px;

    &__top p{
        margin: 0;
        line-height: 1.15;
    }

    &__bottom{
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        gap: 5px;
        margin-top: auto;
    
    }
}

.name-det {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 40px;
}

