@use "../abstracts/index" as *;

.big-course-block{
    @include button_style();
    text-align: center;
    cursor: pointer;
    min-width: 300px;
    height: 100%;
    aspect-ratio: unset;
    @include flex(unset, unset, column);;
    a{
        text-decoration: none;
        @include header-font(20px, $color-white, 400);
    }


    &__discriptions
    {
        line-height: 1.5;
        text-align: left;
        padding-left: 10%
    }

    &__level{
        @include flex(flex-end, baseline);
        gap: 10px;
        padding-right: 15px;
    }

    &__content {
        flex-grow: 1;
    }
}