ul.custom-list li{
    list-style: none;
    padding-left: 30px;
    background: url("../pictures/choose circle.png") no-repeat left center;
    background-size: 20px;
}

ul.description-list {
    margin: 0;
    padding: 0;

    li{
        list-style: none;
        padding-left: 30px;
        background: url("../pictures/choose circle.png") no-repeat left center;
        background-size: 20px;
    }
}